.header{
  text-align: center;
  height: 300px;
  padding: 50px;
  background-image: url('https://images.unsplash.com/photo-1618005182384-a83a8bd57fbe?q=80&w=1528&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}
.logo{
  height: 200px;
  width: 200px;
  border-radius: 50%;
}
.nombre-empresa{
  text-align: center;
  font-size: 20px;
  margin-top: 20px;
}
.redes{
  list-style: none;
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 0;
}

.redes i{
  margin: 5px;
}

.redes a{
  text-decoration: none;
  color: #000;
}
.redes a:hover{
  color: #9ac837;
}
.nosotros{
  padding: 50px;
  background-color: rgba(2, 327, 202, 0.2);
}