  /*Body*/
  #primerBloque{
    margin-bottom: -100px;
  }
  
  #segundoBloque{
    margin-bottom: -100px;
  }
  
  #imagen{
    height: 900px;
  }
  
  .card-group{
    border-radius: 20px;
    padding: 80px;
  }
  
  .icono{
    font-size: 40px; 
    text-align: center;
    margin-top: 90px;
    padding-bottom: 30px;
  }

  .card{
    border-radius: 10px;
  }
