.perfil-revisar{
  background-color: rgb(175, 247, 247);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 20px;
}

p{
  margin: 10px;
}

.perfil-aceptado{
  background-color: rgb(144, 250, 184);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 20px;
}
.perfil-rechazado{
  background-color: rgb(255, 170, 73);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 20px;
}

/* Estilo para el modal */
.modal {
  display: none; /* El modal inicialmente está oculto */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid #ccc;
  padding: 20px;
  z-index: 1000;
}

/* Estilo para el contenido del modal */
.modal-content {
  max-width: 100%;
  max-height: 80vh;
  margin: auto;
  display: block;
}

/* Estilo para el botón de cierre del modal */
.close {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  font-weight: bold;
  color: #333;
}

/* Cambia el cursor al pasar sobre el botón de cierre */
.close:hover {
  color: red;
}


#CVcontenedores{
  padding-top: 200px;
}