.content {
  padding: 20px;
}

#chatButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.chat-box {
  display: none;
  position: fixed;
  bottom: 60px;
  right: 20px;
  width: 520px; /* Establecer el ancho deseado */
  max-height: 70vh;
  overflow-y: auto;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
}

.chat-header {
  background-color: #3498db;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

#closeChat {
  cursor: pointer;
}

.chat-messages {
  padding: 10px;
}

input {
  width: 100%; /* Establecer el ancho deseado */
  padding: 8px;
  margin: 5px;
}

#botonDeChat {
  width: 20%; 
  padding: 8px;
  margin: 5px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

#botonDeChat:hover {
  background-color: #2980b9;
}
